{% extends 'base.html' %}
{% block content %}
 <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{task1.name}}</h5>
                    <p><b>{{task1.priority}}</b></p>
                    <p><b>{{task1.date}}</b></p>

                    <a class="btn btn-danger" href="{% url 'cbvdelete' task1.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'cbvupdate' task1.id %}">edit</a>
                </div>
            </div>
{% endblock %}
